[Unit]
Description=PiCamv3 Camera Stream over Flask
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/adam/git/PiCamProject/env/bin/simple-stream 1280 720 15

[Install]
WantedBy=multi-user.target
